<div class="container participants-list">
    <h2>List of Participants</h2>
    <!-- <p>The .table class adds basic styling (light padding and horizontal dividers) to a table:</p>-->
    <table class="table">
      <thead>
        <tr>
          <th>Full Name</th>
          <th>Position</th>
          <th>Company</th>
        </tr>
      </thead>
      <tbody *ngFor="let participant of participants">
        <tr>
          <td>{{participant.fullName}}</td>
          <td>{{participant.position}}</td>
          <td>{{participant.company}}</td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary ml-3" data-toggle="modal" data-target="#myModal">Add Participant</button>
  </div>

  <!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Participant</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form #registerForm="ngForm" (ngSubmit)="register(registerForm.value)" autocomplete="off" novalidate>
          <div class="form-group">
            <label for="fullName">Full Name</label>
            <input [ngModel]="fullName" name="fullName" type="text" class="form-control" placeholder="Full Name">
          </div>
          <div class="form-group">
            <label for="position">Position</label>
            <input [ngModel]="position" name="position" type="text" class="form-control" placeholder="Position">
          </div>
          <div class="form-group">
            <label for="company">Company</label>
            <input [ngModel]="company" name="company" type="text" class="form-control" placeholder="Company">
          </div>
          <button class="btn btn-primary" type="submit" data-toggle="modal" data-target="#myModal">Submit</button>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>