<div class="container">
  <h1 class="pt-5 pb-5" style="text-align: center;">{{title}}</h1>
  <!-- <app-events-list></app-events-list> -->
  <router-outlet></router-outlet>
  <!--ari tawgon c app router module-->
</div>