<form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" autocomplete="off" novalidate>
    <div class="form-group">
        <label for="userName">User Name</label>
        <input [ngModel]="userName" name="userName" type="text" class="form-control" placeholder="User Name">
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input [ngModel]="password" name="password" type="password" class="form-control" placeholder="Password">
    </div>

    <button class="btn- btn-primary" type="submit">Login</button>
</form>
